<li>
    <article class="post-snippet">
        {{ if .IsPage }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "2006 Jan 02 15:04" }}
        </time> - 
        {{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if not .IsPage }}
        {{ if eq (len .Pages) 1 }}
         - {{ len .Pages }} Post	
        {{ else }}
         - {{ len .Pages }} Posts
        {{ end }}
        {{ end }}
    </article>
    </li>
    <br/>